@import "./clock.css";
@import "./greeting.css";
@import "./deadline.css";



#board-center > .first-row {
    display: flex;
    flex-direction: row;

    height: 5%;

    justify-content: space-evenly;
}

#board-center > .second-row {
    display: flex;
    flex-direction: column;

    height: 10%;
    align-items: center;
}

#board-center > .third-row {
    display: flex;
    flex-direction: column;

    height: 10%;
    align-items: center;

}
