#clock {
    width: 40vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;

    color:#EF7B45;
    font-size: 3.5em;
    align-items: center;
    
    opacity: 0;
    transition: 2s;
}
