#task-done {
    width: 20vw;
    height: 50vh;

    justify-content: space-evenly;

    border-style: solid;
    border-color: #148e8a;
    border-width: 5px;
    border-radius: 10px;

    background-color: #148e8a;
}