@import "./weather.css";
@import "./quote.css";
@import "./todo.css";

#board-left > .first-row {
    display: flex;
    flex-direction: row;

    height: 30%;

    justify-content: space-around;
}

#board-left > .second-row {
    display: flex;
    flex-direction: row;

    height: 30%;

    justify-content: space-evenly;
}
