#quote {
    width: 20vw;
    height: 10vh;
    
    border-style: solid;
    border-color: #045B62;
    border-width: 5px;
    border-radius: 5px;
    background-color: #045B62;

    & span{
        color:#d4edf4;

        & p:last-child {
            text-align: right;
        }
    }
}
