#board-center > .first-row {
    display: flex;
    flex-direction: row;

    height: 30%;

    justify-content: space-evenly;
}

#board-center > .second-row {
    display: flex;
    flex-direction: row;

    height: 30%;

    justify-content: space-evenly;
}

#board-right > .third-row {
    display: flex;
    flex-direction: row;
}


#music-player {
    width: 20vw;
    height: 10vh;

    justify-content: space-evenly;

    border-style: solid;
    border-color: #EF7B45;
    border-width: 5px;
    border-radius: 30px;

    background-color: #EF7B45;
}

#music-player > iframe{
    width: 10vw;
    height: 5vh;
}


#profile {
    width: 20vw;
    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-style: solid;
    border-color: #148e8a;
    border-width: 5px;
    border-radius: 30px;

    background-color: #148e8a;
}

#profile > .profile-links {
    display: flex;
    flex-direction: column;

    color:white;
}

#task-done {
    width: 20vw;
    height: 50vh;

    justify-content: space-evenly;

    border-style: solid;
    border-color: #148e8a;
    border-width: 5px;
    border-radius: 30px;

    background-color: #148e8a;
}

/*theme_palatte {

}*/