#weather {
    width: 20vw;
    height: 20vh;


    border-width: 5px;
    border-radius: 5px;
    background-color: #045B62;

    color:#d4edf4;
    font-size: 2.0em;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    opacity: 0;
    transition: 2s;
    
    & .weather-city{
        margin-left: 1vw;
    }

    & .weather-weather{
        margin-left: 1vw;
    }

    & .weather-temperature{
        margin-left: 1vw;
    }


}
