#weather {
    width: 20vw;
    height: 20vh;



    border-width: 5px;
    border-radius: 10px;
    background-color: #148e8a;

    color:#EF7B45;;
    font-size: 2.0em;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}